

.container-product{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(350px,2fr));
grid-gap: 50px;
border: 200px;
}
.card-body{
    width: 100%;
    height: 100%;
   padding: 10px;
   background-color:lightgray;
   border-top: 5200px;
   border-color: blacks;
    
}



/*contenido de titulo y subititulo*/
.contenedor-tienda {
    display: table;
    justify-content: center;
    width: 99%;
    padding: 5px;
}
.titulo-tienda{
    justify-content: center;
    width: 100%;
    /*padding: 5px;*/
    background-color: #879ceb;
    border: 3px solid navy;
}
.tienda{
    display: flex;
    justify-content: center;
    color: black;
}
.subtitulo {
    display: flex;
    justify-content: center;
    color: black;
}

/*contenido de # de items*/
.row-items {
    padding: 5px;
}
.separacion {
    padding: 5px;
    border: 4px solid black;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: silver;
}
.py-3-numero-de-productos {
    display: flex;
    justify-content: center;
}
