body{
    font-family: 'Grandstander', cursive;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
}

.py-2 {
    padding: 15px;
    font-size: 20px;
    border: 5px solid;
    margin: 10px;
} 

.py-2 :last-child {
    border: none;
}

