

/* ---------- Formulario Tarjeta ----------*/

.formulario-tarjeta label {
	color: #7d8994;
	margin-bottom: 15px;
	font-size: 23px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}
.selec{
	width: 150px;
	height: 40px;
}
.segu{
	width: 40px;
	height: 40px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}



.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}



.contenedorRadioButton3 {
	
	display: flex;
}
.radioB{
	margin-top: 32px;
	
}
.radioC{
	margin-left: 20px;
}

.formulario-tarjeta input {
	margin-bottom: 0px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
}

.formulario-tarjeta .expira {
	width: 20px;
}
.formulario-tarjeta .grupo {
	width: 100%;
}
.pro {
	width: 380px;
}

.pro2 {
	width: 30px;
	margin-left:120px;
}
.pro22 {
	width: 45px;
	margin-left: 120px;
}
.pro3 {
	width: 25px;
	margin-right:105px;
}
.pro33 {
	width: 45px;
	margin-left:-100px;
}

.pro44 {
color: #7d8994;
	margin-top: 25px;
	font-size: 30px;
}

.formulario-tarjeta .ccv {
	min-width: 70px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-top: 0px;
	margin-right:-70px;
	margin-left:-70px;
	
}

.contenedor-btn  {
	width: 150px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #879ceb;
	color: #fff;
	position: relative;
	
}

/*estilos formulario de tarjeta*/

.subtitulos-formulario{
	display: flex;
	justify-content: left;
	margin-left: 5%;
}
.grupo-select1{
	display: flex;
	justify-content: center;
}
.flexbox-datos{
	display: flex;
	justify-content: space-around;
	/*grid-template-columns: repeat(auto-fill,minmax(100px,1fr));*/
	margin-left: 15%;
	margin-right: 20%;
}
.pro44{
	margin-top: 40%;
	margin-block: 3%;
	font-size: x-large;
}

.datos-de-entrada{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(112px,2fr));
	margin-left: 24%;
	margin-right: 15%;
}

.contenedor-btn-tarjetar{
	color: black;
	background-color: cadetblue;
	font-size: 23px;
	border-radius: 8px;
	cursor: pointer;
}
.contenedor-btn-tarjetac{
	color: black;
	background-color: red;
	font-size: 23px;
	border-radius: 8px;
	cursor: pointer;
}
