@charset "utf-8";


@import url("fontawesome-free/css/fontawesome-all.min.css");


@import url("framework.css");

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#header{padding:30px 15px;}
	#header #logo{margin-top:3px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#header{padding:30px 0; text-align:center;}
	#header #logo{margin:0 0 20px 0;}

	#pageintro article, #pageintro p{max-width:none; margin:auto;}
	#pageintro .heading{font-size:2rem;}

	.sectiontitle{max-width:none; margin-bottom:50px;}

	.sectiontitle, #introblocks ul, #references .ref-sort{text-align:left;}

	#references .ref-img{margin-bottom:20px;}
	#references .ref-img li:nth-last-child(-n+3){margin-bottom:30px;}
	#references .ref-img + footer{text-align:left;}

	#latest article{max-width:348px;}

	.cta > :first-child{margin-top:0; text-align:center;}
	.cta footer a{display:inline-block;}

	#footer{padding-bottom:50px;}/* Not required, just looks a little better */
	#footer .latestimg > li{display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li img{width:auto;}
}

@media screen and (max-width:450px){
	#pageintro footer form{max-width:none; width:100%;}

	#testimonials article{padding-left:0;}
	#testimonials article:first-of-type{margin-bottom:50px;}
	#testimonials article img{position:relative; top:inherit; left:inherit; margin-bottom:20px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}